---
import BaseHead from '../components/BaseHead.astro';
---

<html lang="en">
  <BaseHead title="Toronja Ventures" description="Our 7 Principles" />
  <body class="landing-body">
    <main class="landing-main">
      <h1 class="landing-title">Toronja-Ventures</h1>
      <ul class="principles-list">
      ---
<h1>@ meuet principles </h1>
<div class="principles-list">
  <p>1 => 'Hola Jordi, Querido'</p>
  <p>2 => 'Going Climbing Today'</p>
  <p>3 => 'Wanna Come With Me?'</p>
  <p>4 => 'Castle Time Tonight'</p>
  <p>5 => 'Serás el Ansu Fati de la Escalada'?</p>
  <p>6 => 'Sólo Me Quiero Comunicar Así'</p>
  <p>7 => 'Soy un Hacker Now.' </p>
  <p>8 => 'Cuidao con tus Robots! Los Voy a Corromper'</p>
</div>
      </ul>
    </main>
  </body>
</html>
