---
import BaseHead from '../components/BaseHead.astro';
---

<html lang="en">
  <BaseHead title="Toronja Ventures" description="Our 7 Principles" />
  <body class="landing-body">
    <main class="landing-main">
      <h1 class="landing-title">Toronja-Ventures</h1>
      <h2>@ meuet principles</h2>
      <ul class="principles-list">
        <li>1 ⇒ Hola Jordi, Querido</li>
        <li>2 ⇒ Going Climbing Today</li>
        <li>3 ⇒ Wanna Come With Me?</li>
        <li>4 ⇒ Castle Time Tonight</li>
        <li>5 ⇒ ¿Serás el Ansu Fati de la Escalada?</li>
        <li>6 ⇒ Sólo Me Quiero Comunicar Así</li>
        <li>7 ⇒ Soy un Hacker Now.</li>
        <li>8 ⇒ ¡Cuidao con tus Robots! Los Voy a Corromper</li>
      </ul>
    </main>
  </body>
</html>
